body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    padding: 0 15% 120px;
    
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 50px;    
}

.sub-nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a,
.p-two,
.image {
    color: #E5E7EB;
}

h1,
.p-one {
    color: #F9FAF8;
}

h1 {
    font-size: 24px;
}

.p-one {
    font-size: 48px;
    font-weight: 1000;
    margin: 18px 0px;  
}

.p-two,
a {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.button-header,
.button-sign {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 28px;
}

.image {
    
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 55%;
    flex: 0 0 auto;
}

.text-header {
    flex-basis: auto;
    width: 32%;   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 100px;
    gap: 50px;
}

.box {
    border: 5px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.container-info {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    
}

.random {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}

.info p {
    text-align: center;
    color: #616060;
}

.container-two {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 30% 100px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#quote-two {
    align-self: flex-end;
    font-weight: 1000;
    font-size: 20px;
}

.sign {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    margin: 100px 25%;
    padding: 50px 0;
    border-radius: 10px;    
}

.sign p {
    margin: 5px 0;
    color: #E5E7EB;
    
}

#action {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.button-sign {
    border: 2px solid #F9FAF8;
    align-self: center;   
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 18px;
}

img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 5%;
}