body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 0 250px 80px;
    flex-shrink: 1;

}

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; 
    margin-bottom: 50px;
    
}

.sub-nav {
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: space-between; 
    gap: 100px;
    flex-shrink: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a,
.p-two,
.image {
    color: #E5E7EB;
}

h1,
.p-one {
    color: #F9FAF8;
}

h1 {
    font-size: 24px;
}

.p-one {
    font-size: 48px;
    font-weight: 900;
    margin: 18px 0px;  
}

.p-two,
a {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.button-header {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
    font-weight: bold;
}

.image {
    background-color: rgb(143, 144, 151);
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 40%;
    flex-basis: auto;  
    flex-shrink: 0;
}

.text-header {
    flex-basis: auto;
    width: 32%;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 100px;
    gap: 50px;
}

.box {
    border: 5px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.container-info {
    display: flex;
    gap: 80px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info p {
    text-align: center;
    color: #616060;
}
